---
import "../styles/global.scss";
interface Props {
    msc_number: number;
}
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Matrix MSC Overview and search" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Matrix MSCs Viewer - #{Astro.props.msc_number}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
